h1 {
    color: purple;
}

#header1 {
    color: green;
}

p:hover {
    color: brown;
}

p {
    padding: 4px 2px 1px 5px;
    border: thick;
    border-color: rgb(25, 66, 66);
    margin: 1px 2px 4px 5px;
    
}